####################################
#### Server & DB Configurations ####
####################################

# MongoDB
MONGODB_CONNECTION_STRING=             #mongodb connection string
MONGODB_DATABASE=                     